
body{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-size: 1.4rem;
}
/*header*/

.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #94B4C1;
}

.header i{
  color:white
}
.header img{
  width:80px;
}

/*HEADER NAV*/

.header_nav_menu{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header_nav_menu_link{
  margin-right: 2rem;
}
.header_nav_menu_link:last-of-type {
  margin-right: initial;
}
.header_nav_menu_link a{
  color:white;
  text-decoration: none;
  position: relative;
}
.header_nav_menu_link a:after{ 
  content: "";
  height: 2px;
  background-color:white;
  width: 0;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: 0.3s all ease-in-out;
}

.header_nav_menu_link a:hover:after {
  width: 100%;
  left: 0;
}

.header_burger{
  display: none;
}

.header_nav_close{
  display: none;
}
/*FORM AND MAPS*/

.formAndMaps{
    display:flex;
    justify-content: space-around;
}

/*FORM*/

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    width:40%
}

.form h2{
    text-align: center;
}

.form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    font-size: 1.4rem;
    border:none
}

.form .field {
    display: flex;
    padding: 1em 0;
}

.form .field label {
    width: 30%;
    padding: 0.5em;
}

.form .field input {
    width: 70%;
}

.form .field + .field {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.form input,
.form select,
.form textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    font-size: 1.4rem;
    padding: 0.5em 1em;
}

.form select,
.form textarea {
    width: 80%;
    margin-bottom: 1em;
}

.form textarea {
    min-height: 5em;
}

.form .button-submit {
    padding: 1em 2em;
    font-size: 1.4rem;
    color: white;
    background-color: #94B4C1;
    border: 2px solid #94B4C1;
    border-radius: 0.5em;
    cursor: pointer;
}
    
.form .button-submit:hover {
    color: #94B4C1;
    background-color: white;
}

/*MAPS*/

.maps{
    width: 40%;
}
.maps iframe{
    width:100%
}


/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #94B4C1;
  padding: 15px 30px;
}

.bloc-gauche {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  max-width: 300px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo img {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.slogan {
  font-family: 'Playwrite AU SA', cursive;
  font-size: 1em;
  color: white;
  margin-top: 8px;
}

.reseaux {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color:white;
}

.reseaux h2 {
  margin: 0 0 10px 0;
  font-weight: bold;
}

.icones {
  display: flex;
flex-direction: row;
gap: 10px;
}

.reseaux a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

@media screen and ( max-width:500px){

  /*HEADER*/
  
  .header_burger{
      display: block;
      cursor: pointer;
  }
  .header_nav{
      position : fixed;
      width:300px;
      height: 50vh;
      background-color: #94B4C1 ;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: 0.3s transform ease-in-out;
  }
  
  .header_nav.open{
      transform: initial;
      display: flex;
  }
  .header_nav_close{
      transform: none;
      cursor: pointer;
  }
  .header_nav_menu{
      flex-direction: column;    
      align-items: flex-start;
  }
  .header_nav_menu_link{
      margin-right: 0;
      margin-bottom: 20px;
  }
  .header_nav_menu_link a{
      font-size: 24px;
  }
  .header_nav_close{
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
  }
  .overlay-menu-mobile{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,0.5);
      display: none;
  }
  .overlay-menu-mobile.open{
      display: block;
  }
}
